<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<br/>
	<a th:href="@{/showFormForCreate}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th colspan="2">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.firstName}"></td>
			<td th:text="${employee.lastName}"></td>
			<td th:text="${employee.email}"></td>
			<td>
				<a th:href="@{/showFormForUpdate(id=${employee.id})}" class="btn btn-info btn-sm">Update</a>
			</td>
			<td>
				<a th:href="@{/delete(id=${employee.id})}" class="btn btn-danger btn-sm">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>